{% extends 'base.html'%}
{% block additional_head %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/autofill/2.5.3/js/dataTables.autoFill.min.js"></script>
<style>
    th, td {
        vertical-align:middle;
    }
</style>
{% endblock %}
{% block main %}
<div style="padding-bottom: 10%;">
<p style="display:none"><input type="text" name="uid" style="height:80%" value="{{ session['uid'] }}"></p>
<h3 style="margin-top:10px;"><i class="fa-solid fa-bullhorn"></i> &nbsp;건강 뉴스</h3><br>
    <table id="example" class="table">
        <thead>
            <tr>
                <th>index</th>
                <th>이미지</th>
                <th>제목</th>
            </tr>
        </thead>
        <tbody >
            {% for news in news_list %}
            <tr>
                <td>{{loop.index}}</td>
                <td><img src="{{ news.이미지 }}" height="32"></td>
                <td><a href="{{news.링크}}">{{news.제목}}</a></td>       
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block additional_body %}
    <script >
        $(document).ready(function () {
            $('#example').DataTable({
                info: false,
                searching: true,
                paging: true,
                ordering: true,
                //order: [[ 0, "asc" ]],
                columnDefs: [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                language: {
                    thousands: ',',
                    search: '',
                    searchPlaceholder: "검색어",
                    paginate: {
                        first: '처음',
                        previous: '이전',
                        next: '다음',
                        last: '마지막',
                    }
                },
                oLanguage: {
                    sLengthMenu: "_MENU_",
                },
                "lengthMenu": [[10, -1], ["10개씩 보기", "모두 보기"]]
            });
        });
    </script>
</div>
{% endblock %}