{% extends 'base.html'%}
{% block additional_head %}
<style>
    th {
        text-align: center;
    }
    button {
        border-radius: 7%;
    }
    input {
        width:10%; height: 80%;
    }
</style>
{% endblock %}

{% block main %}
<div style="padding-left:17%; padding-right:17%">
<h2 style="margin-top: 20px; font-weight: bolder;">건강 상태 확인하기</h2><hr>
<form action="/myhealth/disease" method="post">
<p style="display:none"><input type="text" name="uid" style="height:80%" value="{{ session['uid'] }}"></p>
<p style="display:none"><input type="text" name="save" style="height:80%" value=""></p>
<div class="row">
    <div class="col">
        <span>신장 : &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="height" style="width:15%"> cm</span>
    </div>
    <div class="col">
        <span>체중 : &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="weight" style="width:15%"> kg</span>
    </div>
    <div class="col">
        <span>허리둘레 : <input type="text" name="waist" style="width:13%"> cm</span>
    </div>
</div><hr>
<div class="row">
    <div class="col">
        <span>시력(좌) : <input type="text" name="eye_left"></span>
    </div>
    <div class="col">
        <span>시력(우) : <input type="text" name="eye_right"></span>
    </div>
</div><hr>
<div class="row">
    <div class="col">청력(좌) : </div>
    <div class="col">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sound_L" id="ex_rd" value="좌정상">
            <label class="form-check-label" for="smoker">정상</label>
        </div>
        </div>
        <div class="col">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sound_L" id="ex_rd" value="좌비정상" checked>
            <label class="form-check-label" for="nonsmoker">비정상</label>
        </div>
     </div>
     <div class="col">청력(우) : </div>
    <div class="col">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sound_R" id="ex_rd" value="우정상">
            <label class="form-check-label" for="smoker">정상</label>
        </div>
        </div>
        <div class="col">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sound_R" id="ex_rd" value="우비정상" checked>
            <label class="form-check-label" for="nonsmoker">비정상</label>
        </div>
     </div>
</div><hr>
<div class="row">
    <div class="col">
        <span>수축기혈압 : <input type="text" name="bp1"> mmHg</span>
    </div>
    <div class="col">
        <span>이완기혈압 수치 : </span><input type="text" name="bp2"> mmHg
    </div>
</div><hr>
<div class="row">
    <div class="col">
        <span>공복혈당 수치 : <input type="text" name="bs"> mg/dL</span>
    </div>
    <div class="col">
        <span>트리글리세라이드 수치 : <input type="text" name="tg"> mg/dL</span>
    </div>
</div><hr>
<div class="row">
    <div class="col">
        <span>HDL콜레스테롤 수치 : <input type="text" name="hdl"> mg/dL</span>
    </div>
    <div class="col">
        <span>LDL콜레스테롤 수치 : <input type="text" name="ldl"> mg/dL</span>
    </div>
</div><hr>
<div class="row">
    <div class="col">
        <span>혈색소 수치 : <input type="text" name="hg"> g/dL</span>
    </div>
    <div class="col">
        <span>요단백 수치 : <input type="text" name="up"> g/dL</span>
    </div>
</div><hr>
<div class="row">
    <div class="col">
        <span>혈청크레아티닌 수치 : <input type="text" name="bc"> IU/dL</span>
    </div>
    <div class="col">
        <span>감마GPT 수치 : <input type="text" name="gtp"> IU/dL</span>
    </div>
</div><hr>
<div class="row">
    <div class="col">
        <span>혈청지오티AST 수치 : <input type="text" name="ast"> IU/dL</span>
    </div>
    <div class="col">
        <span>혈청지오티ALT 수치 : <input type="text" name="alt"> IU/dL</span>
    </div>
</div><hr>
<div class="row">
    <div class="col">흡연여부 : </div>
    <div class="col">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="smoke" id="smoker" value="흡연">
            <label class="form-check-label" for="smoker">흡연</label>
        </div>
    </div>
    <div class="col">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="smoke" id="nonsmoker" value="비흡연" checked>
            <label class="form-check-label" for="nonsmoker">비흡연</label>
        </div>
    </div>
    <div class="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;음주여부 : </div>
    <div class="col">
        <div class="form-check1">
            <input class="form-check-input" type="radio" name="drink" value="음주">
            <label class="form-check-label" for="flexRadioDefault3">음주</label>
        </div>
    </div>
    <div class="col">
        <div class="form-check1">
            <input class="form-check-input" type="radio" name="drink" value="비음주" checked>
            <label class="form-check-label" for="flexRadioDefault4">비음주</label>
        </div>
    </div>
    <div class="col">
        <div style="text-align: center;"><button type="submit">확인</button></div>
    </div>
</div><hr>
</div>
</form>
{% endblock %}