{% extends 'base.html' %}
{% block main %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{ messages[-1] }}");
            </script>
        {% endif %}
    {% endwith %}
    <div>
        <form action="/screening/output" method="post">
            <p><h2 style="margin-top: 20px; font-weight: bolder;">이전 건강검진 결과</h2></p><hr>
            <p style="display:none"><input type="text" name="uid" style="height:80%" value="{{ session['uid'] }}"></p>
            
            <div class="dropdown" style="text-align: end;">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  보기방식
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" onclick="showGraph()" href="#" type="submit">그래프</a></li>
                  <li><a class="dropdown-item" onclick="showTable()" href="#">표</a></li>
                </ul>
              </div></span>

                  <div id="graph">
                    <canvas id="myChart"></canvas>
                  </div>

                  <div id="table" style="display: none;">
                    
                    <table class="table table-light table-striped" style="font-size: 13px; margin-top: 15px; text-align: center;">   
                        <tr>
                            <th>저장일자</th>
                            <th>체중</th>
                            <th>허리둘레</th>
                            <th>시력(좌)</th>
                            <th>시력(우)</th>
                            <th>수축기혈압</th>
                            <th>이완기혈압</th>
                            <th>공복혈당</th>
                            <th>중성지방</th>
                            <th>HDL콜레스테롤</th>
                            <th>LDL콜레스테롤</th>
                            <th>총콜레스테롤</th>
                            <th>혈색소</th>
                            <th>요단백</th>
                            <th>혈청크레아티닌</th>
                            <th>AST</th>
                            <th>ALT</th>
                            <th>r-GTP</th>
                        </tr>
                        {% for scr in scr_list %}  
                            <tr>
                                <td>{{ scr[1] }}</td> <!-- 저장일자를 x좌표로 표시 -->
                                {% for data in scr[2:] %}
                                    <td>{{ data }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                  </div>
            
            
        </form>    
    </div>
    <script>
        var labels = [];
        var datasets = [
            {
                label: "체중",
                data: [],
                backgroundColor: "rgba(192, 75, 192, 0.2)",
                borderColor: "rgba(192, 75, 192, 1)",
                borderWidth: 2
            },
            {
                label: "허리둘레",
                data: [],
                backgroundColor: "rgba(155,255,051, 0.2)",
                borderColor: "rgba(155,255,051, 1)",
                borderWidth: 2
            },
            {
                label: "시력좌()",
                data: [],
                backgroundColor: "rgba(000,102,204, 0.2)",
                borderColor: "rgba(000,102,204, 1)",
                borderWidth: 2
            },
            {
                label: "시력우()",
                data: [],
                backgroundColor: "rgba(255,102,051, 0.2)",
                borderColor: "rgba(255,102,051, 1)",
                borderWidth: 2
            },
            {
                label: "수축기혈압",
                data: [],
                backgroundColor: "rgba(255,051,000, 0.2)",
                borderColor: "rgba(255,051,000, 1)",
                borderWidth: 2
            },
            {
                label: "이완기혈압",
                data: [],
                backgroundColor: "rgba(204,000,255, 0.2)",
                borderColor: "rgba(204,000,255, 1)",
                borderWidth: 2
            },
            {
                label: "공복혈당",
                data: [],
                backgroundColor: "rgba(153,000,204, 0.2)",
                borderColor: "rgba(153,000,204, 1)",
                borderWidth: 2
            },
            {
                label: "중성지방",
                data: [],
                backgroundColor: "rgba(255,153,102, 0.2)",
                borderColor: "rgba(255,153,102, 1)",
                borderWidth: 2
            },
            {
                label: "HDL콜레스테롤",
                data: [],
                backgroundColor: "rgba(204,102,000, 0.2)",
                borderColor: "rgba(204,102,000, 1)",
                borderWidth: 2
            },
            {
                label: "LDL콜레스테롤",
                data: [],
                backgroundColor: "rgba(102,000,051, 0.2)",
                borderColor: "rgba(102,000,051, 1)",
                borderWidth: 2
            },
            {
                label: "총콜레스테롤",
                data: [],
                backgroundColor: "rgba(255,000,204, 0.2)",
                borderColor: "rgba(255,000,204, 1)",
                borderWidth: 2
            },
            {
                label: "혈색소",
                data: [],
                backgroundColor: "rgba(204,255,255, 0.2)",
                borderColor: "rgba(204,255,255, 1)",
                borderWidth: 2
            },
            {
                label: "요단백",
                data: [],
                backgroundColor: "rgba(255,102,102, 0.2)",
                borderColor: "rgba(255,102,102, 1)",
                borderWidth: 2
            },
            {
                label: "혈청크레아티닌",
                data: [],
                backgroundColor: "rgba(000,051,204, 0.2)",
                borderColor: "rgba(000,051,204, 1)",
                borderWidth: 2
            },
            {
                label: "AST",
                data: [],
                backgroundColor: "rgba(000,102,102, 0.2)",
                borderColor: "rgba(000,102,102, 1)",
                borderWidth: 2
            },
            {
                label: "ALT",
                data: [],
                backgroundColor: "rgba(051,204,204, 0.2)",
                borderColor: "rgba(051,204,204, 1)",
                borderWidth: 2
            },
            {
                label: "r-GTP",
                data: [],
                backgroundColor: "rgba(051,255,255, 0.2)",
                borderColor: "rgba(051,255,255, 1)",
                borderWidth: 2
            },
            
            // 추가적인 데이터셋들을 여기에 추가할 수 있습니다.
        ];
        
        {% for scr in scr_list %}
            labels.push("{{ scr[1] }}"); 
            datasets[0].data.push("{{ scr[2] }}"); 
            datasets[1].data.push("{{ scr[3] }}"); 
            datasets[2].data.push("{{ scr[4] }}"); 
            datasets[3].data.push("{{ scr[5] }}"); 
            datasets[4].data.push("{{ scr[6] }}"); 
            datasets[5].data.push("{{ scr[7] }}"); 
            datasets[6].data.push("{{ scr[8] }}"); 
            datasets[7].data.push("{{ scr[9] }}"); 
            datasets[8].data.push("{{ scr[10] }}"); 
            datasets[9].data.push("{{ scr[11] }}"); 
            datasets[10].data.push("{{ scr[12] }}"); 
            datasets[11].data.push("{{ scr[13] }}"); 
            datasets[12].data.push("{{ scr[14] }}"); 
            datasets[13].data.push("{{ scr[15] }}"); 
            datasets[14].data.push("{{ scr[16] }}"); 
            datasets[15].data.push("{{ scr[17] }}"); 
            datasets[16].data.push("{{ scr[18] }}"); 
            // 추가적인 데이터셋들에 대한 값을 여기에 추가할 수 있습니다.
        {% endfor %}
        
        function showGraph() {
            document.getElementById("graph").style.display = "block";
            document.getElementById("table").style.display = "none";
        }

        function showTable() {
            document.getElementById("graph").style.display = "none";
            document.getElementById("table").style.display = "block";
        }

        var ctx = document.getElementById("myChart").getContext("2d");
        var myChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: labels,
                datasets: datasets
            },
            options: {
                scales: {
                    x: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}