{% extends 'base.html'%}
{% block additional_head %}
<style>
    th {
        text-align: center;
    }
</style>
{% endblock %}

{% block main %}
<h2><i class="fa-solid fa-hospital-user"></i>나의 신체 건강 확인하기</h2>
<br>
<h4>주민번호 뒷자리 첫번째 숫자까지 입력해주세요 (예시: 9912201):</h4>
<form action="/myhealth/body" method="post">
    <input type="text" name="jm" value="{{jm}}">


    <div class="checks">
        <h4>신장/체중을 입력해주세요</h4>
        <input type="text" name="height" value="{{height}}">
        <input type="text" name="weight" value="{{weight}}">
        <input type="radio" id="bmi" name="bmi">
        <label for="ex_rd">BMI 확인하기 </label>
    </div>
    <h4>허리 둘레를 입력해주세요</h4>
    <input type="text" name="waist">

    <h4>시력(좌)/시력(우) 입력해주세요</h4>
    <input type="text" name="eye_left">
    <input type="text" name="eye_right">
    
    <div class="checks">
        <input type="radio" id="ex_rd" name="sound_L" value="좌정상">
        <label for="ex_rd">청력(좌) 정상</label>
        <input type="radio" id="ex_rd" name="sound_L" value="좌비정상">
        <label for="ex_rd">청력(좌) 비정상</label>
        
    </div>
    <div class="checks">
        <input type="radio" id="ex_rd" name="sound_R" value="우정상">
        <label for="ex_rd">청력(우) 정상</label>
        <input type="radio" id="ex_rd" name="sound_R" value="우비정상">
        <label for="ex_rd">청력(우) 비정상</label>
    </div>

    <button type="submit">확인</button>

</form>

</body>

{% endblock %}